@charset "UTF-8";

/* estilo para impressoras */

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size:1.5em;
    line-height:1.5em;
}

menu{
    display: none; /* Não será exibido */
}

article::after{
    font-weight: bolder;
    content: 'Esse artigo foi impresso ';

}

article{
    width: 100%;
}